@*
 * Se recibe un argumento: el string correspondiente al error encontrado.
 *@
@(message: String)

@*
 * Llama al template Main con el mensaje correspondiente a mostrar en la ventana-
 *@
@main("Petición inválida"){

    @*
     * El contenido siguiente se renderiza en la sección @content de
     * main.
     *@
<section id="intro" class="wrapper style1 fullscreen fade-up">
    <div class="inner" style="text-align: center;text-justify: inter-word;">
        <b>Se ha producido un error:</b>
        <br>
        @message
        <br>
        <br>
        <form method="get" action="@routes.HomeController.index()">
        	<button >Regresar</button>
        </form>
    </div>
</section>

}
