
@*
 * Se pasa como parámetro el título que tendrá la página
 *@
 @import helper._
@main("Detección de Necesidades"){
                <!-- Intro -->
  <section id="main" class="wrapper style1 fullscreen fade-up">
    <div class="inner">
      <p id="appTittle" style="text-align: center; text-justify: inter-word;"><b style="color:black;">Búsqueda de necesidades de la población en escenarios de catástrofe</b></p>
      <br>
      <button id="infoBotonHome" style="margin-left: 39%; color:black;">Información</button>
      <br>
      <div id="infoHome" style=" text-align: justify; text-justify: inter-word; width: 50%; margin-left: 22%; display: none;">
        <p style="margin-left:3%; color:black;">
          El sistema está diseñado para detectar necesidades de la población expresadas en redes sociales (en este caso, Twitter) con el objetivo de entregar información a las personas encargadas de la toma de desiciones en escenarios de catástrofe.
        </p>
        <button id="infoHomeButtonClose" style="margin-left: 35%; display:none; color:black;">Ocultar</button>
      </div>
    </div>
  </section>

  <section id="mapaHistorico" class="wrapper style1 fullscreen fade-up">
    <br>
    <!-- INICIO EXTRAS -->
    <span style="display: inline; margin-left: 15%;">
      <button id="botonFormulario" style="width: 20%; color:black;">Filtrar</button>
      <button id="botonOpcionesAgrupamiento" style="width: 20%; color:black;">Marcadores</button>
      <button title="Estos datos son válidos sólo si se está realizando una búsqueda"  id="statContainerButton" style="width: 20%;color:black;">Estadísticas</button>
      <button id="SimbologiaButton" style="width: 20%;color:black;">Simbología</button>
    </span>
    <br>
    <div id="formularioTerminosBusqueda" style="display:none;">
      <br>
      <p style="text-align: center; text-justify: inter-word;color:black;"><b style="color: black;">Términos de búsqueda:</b></p>
      <form method="post" action="@routes.HomeController.getQuery()" style="margin-left:8%;">
        <div style="text-align: center;text-justify: inter-word;">
          <div class="field half first">
            <input placeholder="" type="text" name="query" id="query" value="" style="width:70%; margin-left:25%;" />
          </div>
          <div class="field half" style="margin-left:-10%;">
            <button id="go" name="go" style="color:black;">Buscar</button> 
            <button id="cancel" name="cancel" style="color:black;">Cancelar</button>
          </div>
        </div>
      </form>
    </div>
    <div id="formularioOpcionesAgrupamiento" style="display: none;">
      <br>
      <div style="float:left; margin-left: 30%;">
        <b style="color:black;"> Opciones de agrupamiento:</b>           
          <select id="TypeFilterHistorico"
              style="width: 200px;"
              onchange="historicalFilterChanged()"
          >
            <option value="none" style="color:black;">No Agrupar</option>
            <option value="all" style="color:black;">Distancia</option>
            <option value="type" style="color:black;">Categoría</option>
          </select>      
      </div>
      <div style="float:right; margin-right: 28%;">  
        <b style="color:black;">Opciones de filtro:</b>           
          <select id="categoryFilterHistorico"
              style="width: 200px;"
              onchange="historicalFilterChanged()"
          >
            <option value="all" style="color:black;">Mostrar todos</option>
            <option value="Agua" style="color:black;">Mostrar sólo agua</option>
            <option value="Alimento" style="color:black;">Mostrar sólo alimento</option>
            <option value="Electricidad" style="color:black;">Mostrar sólo electricidad</option>
            <option value="Comunicación" style="color:black;">Mostrar sólo comunicación</option>
            <option value="Personas" style="color:black;">Mostrar sólo personas</option>
            <option value="Seguridad" style="color:black;">Mostrar sólo seguridad</option>
          </select>
      </div>
    </div>
    <div id="statContainer" style="text-align: justify; text-justify: inter-word; display: none;">   
      <br>       
        <p style="margin-left:34%; border: 1px solid; border-color: #e5e6e9 #dfe0e4 #d0d1d5; border-radius: 3px; padding: 10px; height: auto; width: 35%; text-align: justify">
                <b  style="color:black;">Estadísticas:</b><br>    
                Se han procesado: <b id="currentTweetsFinded"  style="color:black;"></b> tweets.<br>
                Se han encontrado: <b id="currentUsersFinded"  style="color:black;"></b> usuarios diferentes.<br>
                Se han detectado: <b id="currentNeedsFinded"  style="color:black;">00</b> necesidades.<br>
        </p>
    </div> 
    <br>
    <p id="Simbologia" style="margin-left:26%; display: none; border: 1px solid; border-color: #e5e6e9 #dfe0e4 #d0d1d5; border-radius: 3px; padding: 10px; height: auto; width: 50%; text-align: justify; display: none;">
      <b  style="color:black;">Simbología: </b><br>
      <img src="@routes.Assets.versioned("images/agua.png")">  Falta agua en el sector.<br>
      <img src="@routes.Assets.versioned("images/alimento.png")">  Falta alimento en el sector.<br>
      <img src="@routes.Assets.versioned("images/electricidad.png")">  Sector sin luz eléctrica.<br>
      <img src="@routes.Assets.versioned("images/comunicacion.png")">  Se entrega o solicita información de la localidad.<br>
      <img src="@routes.Assets.versioned("images/personas.png")">  Hallazgo o búsqueda de persona desaparecida.<br>
      <img src="@routes.Assets.versioned("images/seguridad.png")">  Riesgo de seguridad para la población.<br>
    </p>
    <!-- FIN EXTRAS -->

      
    <div style="margin-left: 13.5%; margin-top: -1%;">
      <div id="mapHistorico"
           style=" width: 800px; 
                   height: 400px; 
                   margin-left: auto; 
                   margin-right: auto;
                   margin-top: -0.5%;
                   border: 2px solid #000000;
                   float: left;
        ">
      </div>
        
      <div style="margin-top: 55%; margin-left: -20%; ">
        <br>
        <p style="text-align: center; text-justify: inter-word; margin-top: -14%; margin-left: 3%;">
        (Los marcadores se actualizarán cada <b id="Marker_Actual_Value1"  style="color:black;"></b> segundos) <br>
                
          <!--<div id="slider" style="width: 73%; margin-left: 18%; margin-top: -3%;">
          </div>-->
        <span style="display: inline;">
          <button id="botonMostrarHistograma" style="width: 25%; margin-left: -1%; margin-top:2%;color:black;">Seleccionar rango</button>
        </span>
        <div id="histogramaContenedorOculto" style="display:none;">
          <!--<p style="text-align:center; margin-left: 3%;">Mueva la barra para seleccionar una fecha.</p>-->
          <div id="histograma2" style="width:80%; height:300px; margin-left: 7%; float: left;"></div>
        </div>
          <!--<div id="histograma" style="width: 750px; height: 240px; margin-left: 18%;"></div>-->
  </section>

  <section class="wrapper style1 fade-up">
  .
  </section>

  <section id="configDeNe" class="wrapper style1 fullscreen fade-up">
      <div class="inner" style="text-align: center; text-justify: inter-word; margin-top: -5%;">
        <p><b  style="color:black;"><h3  style="color:black;">Configuración del sistema:</h3></b></p>
        <!-- Inicio Visualizacion -->
        <br>

        <table>
          <tr>
            <td></td>
            <td align="center"><b  style="color:black;">Valores actuales</b></td>
            <td align="center"><b  style="color:black;">Nuevos Valores</b></td>
            <td></td>
          </tr>
          <tr>
            <td><b  style="color:black;">Visualizar marcadores durante</b></td>
            <td  style="color:black;"><b id="TTL_Actual_Value"  style="color:black;"></b> segundos.</p></td>
            <form method="post" action="@routes.HomeController.setTTL()">
              <td  style="color:black;"><input placeholder="" type="text" name="TTL" id="TTL" value="" style="width:100%; margin-left:2%; display: inline;"></td>
              <td><button style="margin-left:2%; color:black;">Ajustar</button> </td>
            </form>
          </tr>
          <tr>
          <form method="post" action="@routes.HomeController.setRefreshTime()">
            <td><b  style="color:black;">Actualizar marcadores cada</b></td>
            <form method="post" action="@routes.HomeController.setRefreshTime()">
              <td  style="color:black;"><b id="Marker_Actual_Value2"  style="color:black;"></b> segundos.</p></td>
              <td><input placeholder="" type="text" name="markerRefreshValue" id="markerRefreshValue" value="" style="width:100%; margin-left:2%; display: inline;"></td>
              <td><button style="margin-left:2%; color:black;">Ajustar</button> </td>
            </form>
          </tr>
        </table>

        <!--
        <p style="text-align: left;"><b>Valores actuales:</b></p>
        <p style="text-align: left; margin-left: 4.2%;">Tiempo de visualización: <b id="TTL_Actual_Value"></b> segundos.</p>
        <p style="text-align: left; margin-left: 4.2%;"> Refresco de marcadores: <b id="Marker_Actual_Value2"></b> segundos.</p>
        <br>
        <p style="text-align: left;"><b>Modificar valores: </b></p>
        <form method="post" action="@routes.HomeController.setTTL()">
          <div style="text-justify: inter-word;">
            <p><span class= "masterTooltip" style="text-align: center;" 
            title="Ingrese un valor entero correspondiente al tiempo que se mostrarán los marcadores en el mapa. 
            El valor ingresado corresponde a milisegundos.">Tiempo de visualización: </span>
            <input placeholder="" type="text" name="TTL" id="TTL" value="" style="width:50%; margin-left:2%; display: inline;">
            <button style="margin-left:2%;">Ajustar</button> 
            </p>
          </div>
        </form>

        <form method="post" action="@routes.HomeController.setRefreshTime()">
          <div style="text-justify: inter-word;">
            <p><span class= "masterTooltip" style="text-align: center;" 
            title="Ingrese el tiempo en segundos. Se actualizará segun los segundo especificados.">Refresco de marcadores: </span>
            <input placeholder="" type="text" name="markerRefreshValue" id="markerRefreshValue" value="" style="width:50%; margin-left:2%; display: inline;">
            <button style="margin-left:2%;">Ajustar</button> 
            </p>
          </div>
        </form>-->
        <div>
          <button id="showUploadModel"  style="color:black;">Modificar modelo de clasificación</button>
        </div>
        <!-- FIN Configuración -->

        <!-- FIN configuración refresco de marcadores -->
      </div>
  </section>

  <section style="display: none;" id="uploadClassifier" class="wrapper style1 fullscreen fade-up">

    <div class="inner" style="text-align: center; text-justify: inter-word; margin-top: -10%; color:black;">
        <p><b  style="color:black;"><h3>Actualizar modelo de clasificación</h3></b></p>
    </div>
    <p style="margin-left:26%; border: 1px solid; border-color: #e5e6e9 #dfe0e4 #d0d1d5; border-radius: 3px; padding: 10px; height: auto; width: 50%; text-align: justify; color:black;">
      Seleccione un archivo CSV (Separado por el caracter ";"), que contenga
      el conjunto de datos de entrenamiento. <br>

      El formato de la información ha de ser el que se muestra a continuación:<br>
    </p>
    <p style="margin-left:26%; border: 0px solid; border-color: #e5e6e9 #dfe0e4 #d0d1d5; border-radius: 3px; padding: 10px; height: auto; width: 50%; text-align: center;">
    <b  style="color:black;">identificador;etiqueta;contenido</b>
    </p>
    

    <div id="uploadDiv" style="margin-left: 33%;">
      <!--<form action="routes.HomeController.updateModel()">
        <input type="file" name="rawData" accept="file_extension" enctype='multipart/form-data'>
        <br>
        <input style="margin-left: 20%;" type="submit">
      </form>-->
      

      @form(action = routes.HomeController.updateModel(), 'enctype -> "multipart/form-data") {
      <div class="button" style="margin-left: -6%;">
        <input type="file" name="rawData" required oninvalid="this.setCustomValidity('Debe seleccionar un archivo.')"><br>
      </div>
          <br>
          <br>
          <input id="generateNewModel" type="submit" style="width: 20%; margin-left: 15%; color:black;">
      }
      <div>
        <button id="hideUploadModel" style="width: 20%; margin-left: 15%; color:black;">Regresar</button>
      </div>
    </div>
  </section>

}