@*
 * Se recibe un argumento: el string correspondiente al error encontrado.
 *@
@(message: String, value1: String, value2: String)

@*
 * Llama al template Main con el mensaje correspondiente a mostrar en la ventana-
 *@
@main("Modelo actualizado"){

    @*
     * El contenido siguiente se renderiza en la sección @content de
     * main.
     *@
<section id="intro" class="wrapper style1 fullscreen fade-up">
    <div class="inner" style="text-align: center; text-justify: inter-word;">
        <p><b><h3>Resultados del entrenamiento:</h3></b></p>
    </div>
    <div style="margin-left: 24%;">
      <b id="classMessage" >@(message)</b><br>
    </div>
    <br>
    <div id="classifierStatsDiv" style="text-align: justify; text-justify: inter-word; margin-left:35%;">                 

      Clasificador actual: <b id="actualClass">@(value1)</b> % de precisión.<br>
      Clasificador nuevo: <b id="newClass">@(value2)</b> % de precisión.<br>      
    </div> 
    <br>
</section>

}