<section id="mapaEventos" class="wrapper style1 fullscreen fade-up">
      <p style="text-align: center; text-justify: inter-word; margin-top: 3%;">
      <b>Los eventos detectados se mostrarán a continuación.</b> <br>
      </p>
      <p id="statContainer" style="text-align: justify; text-justify: inter-word; margin-top: -3%; margin-left:45%;">
        <span class="spoiler">         
          Se han procesado: <b id="currentTweetsFinded"></b> tweets.<br>
          Se han encontrado: <b id="currentUsersFinded"></b> usuarios diferentes.<br>
          Se han detectado: <b id="currentNeedsFinded">00</b> necesidades.<br>
        </span>
      </p> 
      <div style="margin-left: 17%;">
        <div id="map_2385853" 
             style=" width: 500px; 
                     height: 468px; 
                     margin-left: auto; 
                     margin-right: auto;
                     margin-top: -0.5%;
                     border: 2px solid #312450;
                     float: left;
                   ">
        </div>
        <div style="
          margin-left:5%;
          float: left;

          ">
          <b> Opciones de agrupamiento:</b>           
          <select id="clusterType"
            style="width: 200px;"
            onchange="filterChanged()"
          >
            <option value="none">No Agrupar</option>
            <option value="all">Distancia</option>
            <option value="type">Categoría</option>
          </select>
        </div>

        <div style="
          margin-left:5%;
          margin-top:2%;
          float: left;
          ">
          <b>Opciones de filtro:</b>           
          <select id="categoryFilter"
            style="width: 200px;"
            onchange="filterChanged()"
          >
            <option value="all">Mostrar todos</option>
            <option value="agua">Mostrar sólo agua</option>
            <option value="alimento">Mostrar sólo comida</option>
            <option value="electricidad">Mostrar sólo electricidad</option>
            <option value="comunicacion">Mostrar sólo comunicación</option>
            <option value="personas">Mostrar sólo personas</option>
            <option value="seguridad">Mostrar sólo seguridad</option>
          </select>
        </div>
        

      </div>
        

        <p style="text-align: center; text-justify: inter-word; margin-top: 1%;">
        (Los marcadores se actualizarán cada <b id="Marker_Actual_Value1"></b> segundos) 
          <a id="b1">(Simbología)</a>         
          <p id="p1" style="margin-left:25%; display: none; border: 1px solid; border-color: #e5e6e9 #dfe0e4 #d0d1d5; border-radius: 3px; padding: 10px; height: auto; width: 50%; text-align: justify;">
            <b>Simbología: </b><br>
            <img src="@routes.Assets.versioned("images/agua.png")">  Falta agua en el sector.<br>
            <img src="@routes.Assets.versioned("images/comida.png")">  Falta alimento en el sector.<br>
            <img src="@routes.Assets.versioned("images/electricidad.png")">  Sector sin luz eléctrica.<br>
            <img src="@routes.Assets.versioned("images/comunicacion.png")">  Se entrega o solicita información de la localidad.<br>
            <img src="@routes.Assets.versioned("images/personas.png")">  Hallazgo o búsqueda de persona desaparecida.<br>
            <img src="@routes.Assets.versioned("images/seguridad.png")">  Riesgo de seguridad para la población.<br>
          </p>
        </p>
      <br>
  </section>